/* app css stylesheet */
/* line 3, ../sass/app.scss */
#Loginbox {
  margin: 20px 0;
}
/* line 6, ../sass/app.scss */
#Loginbox .loginStateSwitch {
  padding: 10px 15px 0 15px;
  margin: 0;
}

/* line 12, ../sass/app.scss */
#mainView {
  min-height: 600px;
  border-bottom: 1px solid #ccc;
}
/* line 16, ../sass/app.scss */
#mainView h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

/* line 24, ../sass/app.scss */
#appFooter {
  text-align: center;
  padding: 20px 0;
}
/* line 30, ../sass/app.scss */
#appFooter li:first-child {
  list-style: none;
}
