/* app css stylesheet */
/*
  Loginbox component
*/
/* line 6, ../sass/app.scss */
#Loginbox {
  margin: 20px 0;
}
/* line 9, ../sass/app.scss */
#Loginbox .loginStateSwitch {
  padding: 10px 15px 0 15px;
  margin: 0;
}
/* line 14, ../sass/app.scss */
#Loginbox .input-group {
  margin: 5px 0;
}
@media (min-width: 768px) {
  /* line 19, ../sass/app.scss */
  #Loginbox .input-group {
    margin: 0;
  }
}

/*
Main navigation
*/
/* line 29, ../sass/app.scss */
#Navigation .navbar-brand {
  color: #DD0000;
}

/*
  Main view
*/
/* line 37, ../sass/app.scss */
#mainView {
  min-height: 600px;
  border-bottom: 1px solid #ccc;
}
/* line 41, ../sass/app.scss */
#mainView h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

/* line 49, ../sass/app.scss */
#giftManagement .form-group {
  margin-bottom: 0;
}

/*
   Gift list
*/
/* line 57, ../sass/app.scss */
#giftList {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

@media (min-width: 480px) {
  /* line 64, ../sass/app.scss */
  #giftList {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 768px) {
  /* line 72, ../sass/app.scss */
  #giftList {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
/* line 79, ../sass/app.scss */
.gift-item {
  display: inline-block;
  width: 100%;
}

/* line 84, ../sass/app.scss */
.gift-item-ie {
  width: 33%;
  float: left;
  padding: 10px;
}

/*
  Main Footer
*/
/* line 93, ../sass/app.scss */
#appFooter {
  text-align: center;
  padding: 20px 0;
}
/* line 99, ../sass/app.scss */
#appFooter li {
  display: inline;
}
/* line 103, ../sass/app.scss */
#appFooter li:first-child {
  list-style: none;
}

/*
  Need to login component
*/
/* line 111, ../sass/app.scss */
#needLogin {
  margin: 20px 0;
}

/* line 115, ../sass/app.scss */
a {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
