/* app css stylesheet */

#Loginbox {
  margin:20px 0;

  .loginStateSwitch {
    padding: 10px 15px 0 15px;
    margin: 0;
  }
}

#mainView {
  min-height:600px;
  border-bottom:1px solid #ccc;

  h1 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
}


#appFooter {

  text-align:center;

  padding:20px 0;

  li {
    display:inline;
  }

  li:first-child {
    list-style: none;
  }
}