<ng-template ng-if="isLoggedIn">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Gifts please</h1>
            <p>Below is a list of items that Sam and Emma would love to have. Please don't feel obliged to bring a gift. Many of these items are offered at more than one outlet and the URL is merely provided to make it easier to locate.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="gift in gifts">
            <div class="thumbnail">
                <img src="{{gift['picture']}}" width="100%">
                <div class="caption">
                    <h3{{gift['title']}}</h3>
                    <p><strong>{{gift['title']}}</strong></p>
                    <p>
                        <a class="btn btn-xs btn-primary" href="{{gift['link']}}" target="_blank">View this item</a>
                        <button class="btn btn-xs btn-default" title="Reserve this" ng-click="reserveThis($index)" id="{{gift['id']}}" data-index="{{$index}}" ng-if='gift["reserved"] == false'>Reserve this</button>
                        <button class="btn btn-xs btn-warning" title="Reserved" ng-click="unreserveThis($index)" id="{{gift['id']}}" data-index="{{$index}}" ng-if='gift["reserved"] == true' >Already reserved!</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template ng-if="!isLoggedIn">
    <h1>You need to be logged in to see this</h1>
</ng-template>
