<div class="col-lg-12">
    <div id="appFooter">
        <ul>
            <li>Congrats Emma &amp; Samwise</li>
            <li>&middot;</li>
            <li><a href="mailto:robbie.c.boyd@gmail.com?subject=Sam and Emma's wedding Feature Request" title="Feature requests" target="_blank">Feature requests</a><li>
            <li>&middot;</li>
            <li><a href="mailto:robbie.c.boyd@gmail.com?subject=Sam and Emma's wedding Bug Report" title="Bug reporting" target="_blank">Bug report</a></li>
        </ul>
    </div>
</div>