<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div ng-include src="'/partials/components/Loginbox.html'"></div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div id="Navigation" ng-controller="NavigationController">
    <ul class="nav nav-tabs" role="tablist" >
        <li ng-class="{active:isActive('/about')}"><a href="#/about">About this site</a></li>
        <li ng-class="{active:isActive('/gifts')}"><a href="#/gifts">Gifts please</a></li>
        <li ng-class="{active:isActive('/more-information')}"><a href="#/more-information">Information</a></li>
        <li ng-if="isLoggedIn" ng-class="{active:isActive('/account-details')}"><a href="#/account-details"><span class="glyphicon glyphicon-dashboard"></span> My account dashboard</a></li>
    </ul>
</div>